.logo {
  height: 64px;
  width: 20%;
  margin-left: 5%;
  margin-top: 5px;
}
.logo a {
  display: block;
  width: 100px;
  height: 64px;
}
.medio-spacer {
  flex: 1 1 auto;
  align-items: center;
  align-content: center;
}
.user-actions {
  width: 20%;
}
.mat-toolbar {
  z-index: 1000 !important;
}
.beetween {
  justify-content: space-between;
}
.menu-nav {
  width: 100%;
  display: flex;
  justify-content: center;
}
.menu-nav ul {
  width: 100%;
  max-width: 700px;
  display: inline-flex;
  justify-content: space-around;
  justify-items: center;
}
.menu-nav ul li a {
  width: 100%;
  font-size: 16px;
  color: black;
}
.menu-nav ul li a:hover {
  color: #474747;
}
.menu-nav ul li a svg {
  width: 30px;
}
.menu-nav ul li a .mat-icon {
  width: 30px !important;
  height: 30px !important;
}
.menu-nav ul li a .mat-icon .mat-badge-content {
  font-size: 12px !important;
  font-weight: 400 !important;
}
@media (max-width: 600px) {
  .logo {
    height: 60px;
    width: 80px;
    margin-top: 5px;
    padding-top: 5px;
  }
  .logo a {
    display: block;
    width: 80px;
    height: 60px;
  }
  .user-actions {
    margin-right: -5px !important;
    width: 50%;
  }
  .btn-vender {
    font-size: 14px !important;
    font-family: Nunito !important;
    font-weight: 400 !important;
  }
}
.mat-badge-content {
  font-size: 12px !important;
  font-weight: 400 !important;
}
