.container {
  box-shadow: none;
}
.container .subtitle-primary {
  color: #5d5d5d !important;
}
.container .content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  justify-content: space-around;
  margin-top: 2rem;
}
.container .content .tarjetas {
  box-shadow: 5px 5px 15px -8px rgba(0, 0, 0, 0.75);
  background: #fff;
  background: radial-gradient(circle, #fff 44%, rgba(255, 240, 89, 0.32) 100%);
  box-shadow: none;
}
.container .content .tarjetas .header-card {
  font-family: "Nunito", sans-serif;
  height: 90px;
  padding-top: 0.5rem;
  text-align: center;
  margin-top: -2rem;
  border-radius: 5px;
  color: white;
  background-color: #0cb39c;
}
.container .content .tarjetas .header-card .mat-card-title {
  font-size: 1em;
  padding-bottom: 8px;
}
.container .content .tarjetas .header-card .subtitle {
  color: white !important;
}
.container .content .tarjetas .header-card .subtitle span {
  font-family: NunitoBold!important;
  padding: 3px 10px;
  border-radius: 50px;
  background-color: #f3cf4b;
}
.container .content .tarjetas .header-card .subtitle p {
  padding-top: 5px;
}
.container .content .tarjetas .header-card .mat-card-header-text {
  width: 100% !important;
  color: white !important;
  margin: 0px !important;
}
.container .content .tarjetas .mat-card-content {
  height: 200px;
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center bottom;
}
.container .content .tarjetas .mat-card-actions {
  display: grid;
  justify-items: center;
}
.container .content .tarjetas .mat-card-actions .btn-primary {
  width: 80%;
}
.container .content .tarjetas .maximo {
  background-image: url("../../../../../../../assets/images/max-exp.svg");
}
.container .content .tarjetas .alta {
  background-image: url("../../../../../../../assets/images/alta-exp.svg");
}
.container .content .tarjetas .media {
  background-image: url("../../../../../../../assets/images/media-exp.svg");
}
.container .content .tarjetas .minimo {
  background-image: url("../../../../../../../assets/images/min-exp.svg");
}
