<mat-card class="container">
    <mat-card-header>
        <mat-card-title>Paso 4 - Como quieres vender tu vehículo? </mat-card-title>
        <mat-card-subtitle class="subtitle-primary">Ya sabemos que vamos avender tu auto... Tu decides en cuanto tiempo!</mat-card-subtitle>
    </mat-card-header>
    <div class="content row">
        <mat-card class="tarjetas col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <mat-card-header class="header-card row justify-content-center">
                <mat-card-title>Sin Apuro</mat-card-title>
                <mat-card-subtitle class="subtitle"><span>Gratis</span><p>Menor Exposición</p></mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="minimo">

            </mat-card-content>
            <mat-card-actions>
                <button mat-flat-button (click)="pagar(1)" color="primary">Elegir</button>
            </mat-card-actions>
        </mat-card>
        <mat-card  class="tarjetas col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <mat-card-header class="header-card row justify-content-center">
                <mat-card-title>
                    Mostrarlo Más
                </mat-card-title>
                <mat-card-subtitle class="subtitle"><span>$ 600</span><p>Exposición Moderada</p></mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="media">

            </mat-card-content>
            <mat-card-actions>
                <button mat-flat-button (click)="pagar(2)" color="primary">Elegir</button>
            </mat-card-actions>
        </mat-card>
        <mat-card class="tarjetas col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <mat-card-header class="header-card row justify-content-center">
                <mat-card-title>Cuanto antes Mejor</mat-card-title>
                <mat-card-subtitle class="subtitle"><span>$ 1.200</span><p>Exposición Alta</p></mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="alta">

            </mat-card-content>
            <mat-card-actions>
                <button mat-flat-button (click)="pagar(3)" color="primary">Elegir</button>
            </mat-card-actions>
        </mat-card>
        <mat-card class="tarjetas col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <mat-card-header class="header-card row justify-content-center">
                <mat-card-title>Urgente!</mat-card-title>
                <mat-card-subtitle class="subtitle"><span>$ 2.400</span><p>Máxima Exposición</p></mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="maximo">

            </mat-card-content>
            <mat-card-actions>
                <button mat-flat-button (click)="pagar(4)" color="primary">Elegir</button>
            </mat-card-actions>
        </mat-card>
    </div>
</mat-card>