.container{
    box-shadow: none;

    form, .upload, .extras, .description{
        margin-bottom: 2rem;
    }
    .mat-card-title{
        margin-bottom: 1rem;
    }


    .description{
        width: 100%;
        .text-description{
            width: 100%;
            textarea{

                
                min-height: 100px;
                // background-color: silver;
            }
        }
    }
    .content-btns{
        text-align: right;
        margin-top: 2rem;
        button{
            margin-left: 1rem
        }
    
    }
}