.container {
  box-shadow: none;
}
.container .container-ventas {
  width: 100%;
}
.container .container-ventas .form .content-form {
  position: relative;
  width: 100%;
}
.container .container-ventas .form .content-form .searcher {
  width: 100%;
  font-family: NunitoLight!important;
  font-size: 0.9em;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.container .container-ventas .form .content-form .searcher .mat-form-field {
  border-radius: 5px;
  padding: 5px;
}
.container .container-ventas .form .content-form .searcher .category {
  grid-column: 1/2;
}
.container .container-ventas .form .content-form .searcher .brand {
  grid-column: 2/3;
}
.container .container-ventas .form .content-form .searcher .model {
  grid-column: 3/4;
}
.container .container-ventas .form .content-form .searcher .sub-model {
  grid-column: 1/2;
}
.container .container-ventas .form .content-form .searcher .year {
  grid-column: 2/3;
}
.container .container-ventas .form .content-form .searcher .condition {
  grid-column: 3/4;
}
.container .container-ventas .form .content-form .searcher .recorrido {
  grid-column: 1/2;
}
.container .container-ventas .form .content-form .searcher .price-condition {
  grid-column: 2/3;
}
.container .container-ventas .form .content-form .searcher .price-content {
  font-family: NunitoBold!important;
  border-radius: 5px;
  grid-column: 3/4;
  max-width: 100%;
  display: grid;
  background-color: rgba(247, 234, 45, 0.274);
  grid-template-columns: 30% 70%;
}
.container
  .container-ventas
  .form
  .content-form
  .searcher
  .price-content
  .price {
  grid-column: 2/3;
  min-width: 100%;
}
.container
  .container-ventas
  .form
  .content-form
  .searcher
  .price-content
  .currency {
  grid-column: 1/2;
}
