<div class="card" *ngIf="data">

    <div class="card-image">
        <a [routerLink]="[
        '/vehiculo', 
        data.id, 
        data.brand.slug,
        data.vehicle_model.slug,
        data.year
        ]">
            <img [src]="data.images[0].url" alt="">
        </a>
        <div class="compare-button">
                <button class="btn-ico-custom" (click)="addToCompare(data)" mat-mini-fab color="primary" aria-label="Agregar a comparador" >
                    <mat-icon svgIcon="compare" aria-label="Agregar a comparador"></mat-icon>
                </button>
        </div>
    </div>
    <div class="card-info">
        <div class="card-title">
            <a [routerLink]="[
            '/vehiculo', 
            data.id, 
            data.brand.slug,
            data.vehicle_model.slug,
            data.year
            ]">
                <h2>{{ data.brand.name }} {{data.vehicle_model.name }} </h2>
            </a>
        </div>
        <div class="year-km">
            <span>año {{ data.year }}</span> - <span>{{ data.condition.name }}</span><span  *ngIf="data.condition_id != 1"> - {{ data.km }} Km.</span>
        </div>
        <div class="ubication">
            <span>{{ data.city.name }} </span>
        </div>
        <div class="venta">
                <span>{{ data.price_condition.name }} </span>
        </div>
        <div class="precio">
            <h2>{{ data.currency.abbreviation }} {{ data.price | number }}</h2>
        </div>
    </div>
</div>