<div class="content">
    <mat-card class="mat-elevation-z0">
        <mat-card-header>
            <mat-card-title>
                Publicaciones
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar">
            </mat-form-field>
    
            <table mat-table [dataSource]="dataSource" class="">
    
                <!-- ID Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> ID </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>
    
                <!-- Vehiculo Column -->
                <ng-container matColumnDef="name_concat">
                    <th mat-header-cell *matHeaderCellDef> Vehículo </th>
                    <td mat-cell *matCellDef="let element"> {{element.name_concat}} </td>
                </ng-container>
    
                <!-- Año Column -->
                <ng-container matColumnDef="year">
                    <th mat-header-cell *matHeaderCellDef> Año </th>
                    <td mat-cell *matCellDef="let element"> {{element.year}} </td>
                </ng-container>
    
                <!-- Estado Column -->
                <ng-container matColumnDef="state">
                    <th mat-header-cell *matHeaderCellDef> Estado </th>
                    <td mat-cell *matCellDef="let element"> {{element.status.name}} </td>
                </ng-container>
                
                <!-- Precio Column -->
                <ng-container matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef> Precio </th>
                    <td mat-cell *matCellDef="let element"> 
                        <span>{{ element.currency.abbreviation }}</span>
                        {{element.price}} 
                    </td>
                </ng-container>
    
                <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef> Accioes </th>
                    <td class="acciones" mat-cell *matCellDef="let element">
                        <button mat-icon-button [matMenuTriggerFor]="menuAcciones" aria-label="Acciones">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menuAcciones="matMenu">
                            <button mat-menu-item (click)="editRegistro(element.id)">
                                <mat-icon>edit</mat-icon>
                                <span>Editar Registro</span>
                            </button>
                            <button mat-menu-item (click)="deleteReg(element.id)">
                                <mat-icon>delete</mat-icon>
                                <span>Eliminar Registro</span>
                            </button>
    
                        </mat-menu>
                    </td>
                </ng-container>
    
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

        </mat-card-content>
    </mat-card>
</div>