$border-field:1px solid #707070;
$br: 5px; 

   .main{
        margin-top: 2rem;
        padding: 1rem!important;
        h1{
            text-align: center;

        }
        h2{

            font-size: 1rem;
            text-align: center;
        }
        .searcher{
            margin-top: 3rem;

            .btn-buscar{
                margin-left: auto;
                margin-right: auto;
            }
            .row1{
  

            }
            
        }
        
      
    }
.row{
    margin: 0!important;
}


