<mvd-header></mvd-header>

    <main class="main container">
        <div class="content row justify-content-center">
            <h1 class="col-xs-12">¿Cuánto cuesta mi auto en Uruguay?</h1>
            <h2 class="col-xs-12">Con esta herramienta, te ayudamos a descubrir precios de todo tipo de vehículos en Uruguay. Cotiza tu
                vehículo y conoce el precio real en el mercado. Avaluar tu auto puede ayudarte a determinar el precio a la
                hora de comprar o vender.
            </h2>
            <form [formGroup]="formSearch" (ngSubmit)="onSubmit()">
                <div class="searcher row justify-content-between">
                    
                        <mat-form-field class="category col-xs-12 col-md-4">
                            <mat-label>Tipo Vehículo</mat-label>
                            <mat-select formControlName="category" [(value)]="categoryId"
                                (selectionChange)="changeCategory($event)">
                                <mat-option *ngFor="let category of categories" [value]='category.id'>{{ category.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
    
    
                        <mat-form-field class="brand col-xs-12 col-md-4">
                            <mat-label>Marca</mat-label>
                            <mat-select formControlName="brand" (selectionChange)="changeBrand($event)">
                                <mat-option [value]=''>Ninguna marca</mat-option>
                                <mat-option *ngFor="let brand of brands" [value]='brand.id'>{{ brand.name }}</mat-option>
                            </mat-select>
                        </mat-form-field>
    
                        <mat-form-field class="model col-xs-12 col-md-4">
                            <mat-label>Modelo</mat-label>
                            <mat-select formControlName="model">
                                <mat-option>Ningún modelo</mat-option>
                                <mat-option *ngFor="let model of models" [value]='model.id'>{{ model.name }}</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="year col-xs-12 col-md-4">
                            <mat-label>Año</mat-label>
                            <mat-select formControlName="year">
                                <mat-option>Todos</mat-option>
                                <mat-option *ngFor="let ano of anos" [value]='ano.value'>{{ ano.option}}</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="recorrido col-xs-12 col-md-4">
                            <mat-label>km recorridos</mat-label>
                            <mat-select formControlName="kms">
                                <mat-option>Todos</mat-option>
                                <mat-option *ngFor="" [value]=''></mat-option>
                            </mat-select>
                        </mat-form-field>
                    
    
                    <button class="btn-buscar col-xs-12 col-md-6" color="primary" mat-flat-button>Cotizar</button>
                </div>
            </form>

        </div>

        <div class="content-chart row justify-content-center">
            <div class="chart col-xs-12 col-md-8 col-xl-6">
                <router-outlet ></router-outlet>
            </div>
        </div>   
    </main>
<section class="footer">
    <footer-component></footer-component>
</section>