.filters-bar{
    background-color: transparent;
    position: relative;
    .chip-list{
        width: 20%;
        .chip, span.chip{
            font-size: 12px;
            color: #585858;
            
            font-weight: bold;
            text-transform: uppercase;
        }

    }
    .mat-standard-chip{
        min-height: 1.5rem;
    }

}