<div class="content">
    <div class="input">
      <form [formGroup]="formSearch" (ngSubmit)="onSubmit()">
        <div class="form-content">
          <div class="category">
              <div *ngIf="categories" appearance="none" class="select">
                  <mat-select formControlName="category_id">
                      <mat-option *ngFor="let category of categories" [value]='category.id'>{{ category.name }}</mat-option>
                  </mat-select>
              </div>
            </div>
            <div class="input">

                <div  appearance="none" class="input-text">
                    <input matInput class="" type="text" placeholder="Ingrese marca, modelo o lo que desee buscar. " formControlName="searcher">
                </div>
              <!-- <input class="input-text" type="text" placeholder="Ingrese marca, modelo o lo que desee buscar. " formControlName="searcher"> -->
              <!-- <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let street of filteredStreets | async" [value]="street">
                  {{street}}
                </mat-option>
              </mat-autocomplete> -->
            </div>
            <div class="button">
              <button class="btn_search" type="submit"><i class="material-icons">search</i></button>
            </div>
        </div>
        </form>
    </div>
</div>
