.container {
  box-shadow: none;
  padding: 1rem;
}
.container .content {
  padding: 1rem;
}
.container .content .radio-group {
  font-size: 12px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding-bottom: 1rem;
}
.container .content .radio-group .radio-button {
  margin: 5px;
  padding: 0.5rem;
}
.container .content .mat-divider,
.container .content .mat-divider-horizontal {
  width: 100%;
  position: relative;
  padding-left: 1rem !important;
}
.container .content-btns {
  margin-top: 2rem;
}
.container .content-btns .nex {
  margin-left: 1rem;
}
