<ng-container *ngIf="currentUser; then loged; else noLoged"></ng-container>

<ng-template #loged>
    <div class="user" [ngStyle]="{'color': color}" >
        <!-- <a class="account" [ngStyle]="{'color': color}" 
            [matMenuTriggerFor]="menu" 
            
            #menuTrigger="matMenuTrigger"
            >
            Mi cuenta
        </a> -->
        <a class="menu-user" [ngStyle]="{'color': color}" aria-label="" [matMenuTriggerFor]="menu" >
            <span>{{ currentUser.name }}</span>
            <i class="material-icons">how_to_reg</i>
        </a>
        <mat-menu [overlapTrigger]="false" #menu="matMenu">
            <span>
                <button mat-menu-item [routerLink]="[ '/mi-cuenta/publicaciones' ]">
                    <mat-icon>art_track</mat-icon>
                    <span>Publicaciones</span>
                </button>
                <!-- <button mat-menu-item>
                    <mat-icon>favorite_border</mat-icon>
                    <span>Favoritos</span>
                </button> -->
                <button mat-menu-item [routerLink]="[ '/mi-cuenta/perfil' ]">
                    <mat-icon>how_to_reg</mat-icon>
                    <span>Mis Datos</span>
                </button>
                <button mat-menu-item (click)="logout()">
                    <mat-icon>exit_to_app</mat-icon>
                    <span>Salir</span>
                </button>
            </span>

        </mat-menu>
    </div>
</ng-template>

<ng-template #noLoged>
    <div class="user">
        <span></span>
        <span>
            <a mat-flat-button class="login" color="primary" (click)="login()">Entrar</a>
            <a mat-flat-button href="#" class="register btn-accent-secondary" >Registrarse</a>
        </span>
    </div>
</ng-template>