$border-field:1px solid #707070;
$br: 5px; 




 .mat-form-field{



    .mat-form-field-wrapper{
        padding-bottom: 1rem;
    }
    .mat-select-value{
        color: #707070;
    }
}
.mat-form-field.mat-focused .mat-form-field-ripple{
    background: none;
}

.searcher-content{
    font-family: NunitoLight!important;
    width: 100%;
    display: grid;
    font-size: 0.9em;
    .btn-buscar{
        display: grid;
        width: 30%;
        margin:  1rem auto 0px auto;
        padding: 0.5rem;
        font-size: 1.2em;
    }
    .category,.model,.brand,.price-d,.price-h,.ano-d,.ano-h{
        padding-right: 1rem;
        padding-left: 1rem;
        background-color: white;
    }
    .row1{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-bottom: 0.5rem;
        .category{
            border-right: $border-field;
            border-radius: $br 0px 0px 0px;
        }
        .brand{
            border-right: $border-field
        }
        .model{
            border-radius: 0px $br 0px 0px;
        }


    }
    .row2{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        background-color: rgb(255, 143, 0, .65) ;
        border-radius: 0px 0px $br $br;
        .precio-title{
            grid-column-start: 1;
            grid-column-end: 3;
            text-align: center;
            color: white;
        }
        .ano-title{
            grid-column-start: 3;
            grid-column-end: 5;
            text-align: center;
            color: white;
        }
        .price-d{
            border-radius: 0px 0px 0px $br;
        }
        .price-h{
            border-right: $border-field
        }
        .ano-h{
            border-radius: 0px 0px $br 0px;
        }
    }
    
}

@media (max-width: 600px) {

    .precio-title{
        display: none;
    }
    .ano-title{
        display: none;
    }

    .mat-form-field{
        width: 100%;
        margin: 3px;
        border: none;
    }
    .searcher-content .row2{
        background-color: transparent;
        .price-d{
            border-radius: $br;
        }
        .price-h{
            border-right: none;
            border-radius: $br;
        }
        .ano-h{
            border-radius: $br;
        }
    }
    .searcher-content .row1{
        .category{
            border-right: none;
            border-radius: $br;
        }
        .brand{
            border-right: none;
            border-radius: $br;
        }
        .model{
            border-radius: $br;
        }
    }
 
}