.container{
}
.sidenav-container {
  min-height: 100vh;
  background-color: transparent;
  max-width: 1200px!important;
  margin-right: auto;
  margin-left: auto;
}

.sidenav {
  width: 250px;
  background-color: #ECEFF1;
  .mat-drawer-inner-container{
    overflow: hidden!important;
  }
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.mat-sidenav-content{
  height: 100%;
  overflow: initial;
}
.mat-drawer-side{
  border: none!important;
}


///
mat-form-field{
  background-color: transparent;
}
.content{
    // position: fixed;

    margin-top: 30px;
    padding-left: 1rem;
    color: #535353;
    box-sizing: border-box;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 3rem auto;
    row-gap: 1rem;
    padding-bottom: 1rem;
    .filters-selected{
        width: 100%;
        display: grid;
        align-content: center;

    }
    .res-total{
        width: 100%;
        font-family: NunitoBold!important;
        font-size: 16px;
        margin-bottom: 1rem;
    }
    .item{
        h6{
            font-size: 14px;
        }
        padding-bottom: 2rem;
        span{
            
        }
        ul{
            
            a{
                cursor: pointer;
                font-size: 14px;
            }
            li .item-side-bar{
                padding-left: 1rem;
                
            }

        }
        .card-float{
            width: 25vw;
            height: auto;
            display: grid;
            z-index: 1000!important;
            // background-color: aqua;
            .close{
                text-align: right;
                mat-icon{

                    cursor: pointer;
                }
            
            }
            ul{
                display: grid;
                grid-template-columns: repeat(3,1fr);
                
            }

        }
        .ano-d, .price-d{
            width: 30%;
            padding: 5px;
            
        }
        .ano-h, .price-h{
            width: 30%;
            padding: 5px;
            

        }
    }
}



///////

  // column-gap: 1rem;


